/*.card{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    width: 540px;*/
/*}*/
.card__container{
    padding: 0;
}
.card__title{
    padding: 0;
    margin: 0 0 32px;
    font-family: "Inter", Arial, sans-serif;  
    font-style: normal; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 30px;
}
.card__list-item{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 16px;
    gap: 10px;
    font-family: "Noto Serif", 'Times New Roman', serif;  
    font-style: normal; 
    font-weight: normal; 
    font-size: 16px; 
    line-height: 20px;
}
.card__list-item:last-child{
    margin-bottom: 0;
}
.card__name{
    padding: 0;
    margin: 0;
}
.card__list-divider{
    border-bottom: 1px solid #000;
    flex-grow: 3;
}
.card__price{
    padding: 0;
    margin: 0;
}