.contacts{
    background-color: #0a2850;
    color: #fff;
    display: flex;
    justify-content: space-between;
} 
.about__title{
    max-width: 251px;
    z-index: 2;
    padding: 0;
    margin: 0;
    padding-top: 100px;
    padding-left: 80px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}
.about__content{
    max-width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 119px;
    padding-right: 80px;
    margin-bottom: 173px;
}
.about__paragraph{
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.about__circle{
    background-color: #2f80ed;
    border-radius: 50%;
    width: 426px;
    height: 426px;
    position: absolute;
    top: 3916px;
    left: -128px;
}
.about__circle_animation_blurred{
    animation: pulsate 1.3s ease-in-out infinite;
}
@keyframes pulsate {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.6;
    }
    100%{
        transform: scale(1.3);
        opacity: 0;
    }
}