.header{
    background-image: url(../images/background_header.svg);
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.header__title{
    padding-left: 80px;
    padding-top: 183px;
    max-width: 729px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    padding-bottom: 28px;
    margin: 0;
}
.header__span-accent{
    display: block;
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}
.header__description{
    margin: 0;
    padding: 0;
    max-width: 683px;
    margin-left: 80px;
    font-family: "Noto Serif", 'Times New Roman',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.header__image{
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}
.header__paragraph{
    margin: 0;
    padding: 0;
}
.header__footer{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6F6F6F;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: end;
    padding: 0px 80px 40px 80px;
    position: relative;
}
