.page{
    min-width: 1100px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.header{
    background-image: url(/images/background_header.svg);
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px 0px 30px;
}
.nav__logo{
    width: 105px;
    height: 39px;
}
.nav__links{
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.nav__link{
    text-decoration: none;
    color: #000000;
}
.header__title{
    padding-left: 80px;
    padding-top: 183px;
    max-width: 729px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    padding-bottom: 28px;
    margin: 0;
}
.header__span-accent{
    display: block;
    font-family: "Italic Noto Serif", 'Times New Roman', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
}
.header__description{
    max-width: 683px;
    margin-left: 80px;
    font-family: "Noto Serif", 'Times New Roman',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.header__span{
    display: block;
}
.header__image{
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}
.header__paragraph{
    margin: 0;
    padding: 0;
}
.header__footer{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: end;
    padding: 0px 80px 40px 80px;
}
.content{
    display: flex;
    flex-direction: column;
}
.recipes{
    background-image: url(../images/background_recipes.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: #0a2750;
    color: #FFFFFF;
    margin:0;
    min-height: 720px;
    max-height: 800px;

}
.recipes__title{
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 580px;
    padding-top: 100px;
    padding-left: 80px;
}
.recipes__subtitle{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif",'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding-left: 80px;
    padding-top: 24px;
}
.recipes__subtitle-span{
    display: block;
}

.recipes__videos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
    margin-bottom: 215px;
}
.recipes__video{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.recipes__iframe{
    width: 480px;
    height: 273px;
    border: none;
}
.recipes__video-caption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
}
.recipes__caption{
    padding: 0;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}